.comments {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	margin-bottom: 1.5rem;
}
.comments div:last-child {
	margin-bottom: 0;
}
.comments-loader {
	align-self: center;
}
