.replies {
	border-left: 3px solid var(--light-gray);
	padding-left: 2rem;
	margin-left: 1.8rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}
div:last-child {
	margin-bottom: 0rem;
}
@media (max-width: 767px) {
	.replies {
		padding-left: 1rem;
		margin-left: 0.8rem;
	}
}
