:root {
	--moderate-blue: hsl(238, 40%, 52%);
	--soft-red: hsl(358, 79%, 66%);
	--light-grayish-blue: hsl(239, 57%, 85%);
	--pale-red: hsl(357, 100%, 86%);
	--dark-blue: hsl(212, 24%, 26%);
	--grayish-blue: hsl(211, 10%, 45%);
	--light-gray: hsl(223, 19%, 93%);
	--very-light-gray: hsl(228, 33%, 97%);
	--white: hsl(0, 0%, 100%);
}
body {
	margin: 0;
	min-height: 100vh;
	background: var(--very-light-gray);
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	margin: 0;
	padding: 0;
}
.main {
	max-width: 45rem;
	margin: 0 auto;
	padding: 1rem;
}
