.comment-form {
	display: flex;
	align-items: flex-start;
	background: var(--white);
	padding: 1.2rem 1.5rem;
	border-radius: 0.7rem;
	gap: 1.4rem;
}
.comment-form__avatar {
	max-width: 2.5rem;
}
.comment-form__form {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	width: 100%;
}
.comment-form__form-input {
	border: 2px solid var(--very-light-gray);
	color: var(--dark-blue);
	font-family: 'Rubik', sans-serif;
	padding: 0.5rem 1rem;
	height: 4rem;
	border-radius: 0.4rem;
	width: 100%;
	resize: none;
}
.comment-form__form-input:focus {
	outline: 1px solid var(--moderate-blue);
}
.comment-form__form-input::placeholder {
	color: var(--grayish-blue);
}
@media (max-width: 767px) {
	.comment-form__avatar {
		display: none;
	}
	.comment-form__form {
		flex-direction: column;
		align-items: flex-end;
	}
	.comment-form__form-input {
		align-self: stretch;
		width: unset;
	}
	.comment-form__form-button {
		align-self: flex-end;
	}
}
